@import './base.css';
@import 'tailwindcss';

#app {
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: black;
  transition: 0.4s;
  padding: 3px;
}

@font-face {
  font-family: 'Overpass';
  src: url('./fonts/Overpass-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Overpass Italic';
  src: url('./fonts/Overpass-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Overpass Black';
  src: url('./fonts/static/Overpass-Black.ttf');
}

@font-face {
  font-family: 'Overpass Regular';
  src: url('./fonts/static/Overpass-Regular.ttf');
}

@font-face {
  font-family: 'Overpass Medium';
  src: url('./fonts/static/Overpass-Medium.ttf');
}

@font-face {
  font-family: 'Overpass SemiBold';
  src: url('./fonts/static/Overpass-SemiBold.ttf');
}

@font-face {
  font-family: 'Overpass Italic';
  src: url('./fonts/static/Overpass-Italic.ttf');
}
